<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>冬天来了，春天还会远吗？(英国诗人, 雪莱. P. B.)</string>
	<string>实现明天理想的唯一障碍是今天的疑虑。</string>
	<string>每个人都是自己命运的建筑师。</string>
	<string>经常用的钥匙，总是亮闪闪的。</string>
	<string>勤劳一日，可得一夜安眠。</string>
	<string>生活没有目标，犹如航海没有罗盘。(罗斯金)</string>
	<string>接受过去和现在的模样，才会有能量去追寻自己的未来。</string>
	<string>强者能同命运的风暴抗争。(爱迪生)</string>
	<string>到任何值得去的地方都没有捷径。</string>
</array>
</plist>
